@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: aliceblue;
}

a :hover{
  transition: 0.5s;
  opacity: 0.7;
  text-decoration-color: #6d4aff;
}

#login-container {
  padding-left: 20%;
}

#register-container {
  padding-left: 1%;
  
}

#wrapper {
  width: 98.5vw;
  height: 100vh;
  overflow: hidden;
}

#wallpaper {
  width: 100%;
  height: 35%;
  background-image: url(./assets/animewallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#content {
  width: 100%;
  height: 65%;
}

#header {
  padding-bottom: 0.7%;
  padding-top: 0.3%;
}

#addbar {
  width: 100%;
  height: 20%;
}

#add-anime-btn {
  width: 10%;
  height: 50%;
  border-radius: 50px;
  background-color: #6d4aff;
  font-size: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
  color: aliceblue;
}

#add-anime-btn :hover{
  background-color: #000000;
  transition: 0.5s;
  opacity: 0.7;
}

#addedser {
  width: 100%;
  height: 80%;
}